$with-icon-input: true !default;
$with-input: true !default;
$with-select: true !default;
$with-textarea: true !default;
$with-disabled: true !default;
$with-label: true !default;
$with-radio: true !default;
$with-checkbox: true !default;

%base-disabled {
    @if $with-disabled {
        &[disabled] {
            cursor: not-allowed;
            background-color: #fafafa;
        }
    }
}

%base-input {
    appearance: none;
    padding: 0.625rem 0.75rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #e0e0e0;

    font: 1rem var(--font-family);

    background-color: #fff;

    color: #666;

    &:-webkit-autofill {
        -webkit-text-fill-color: #666 !important;
        -webkit-padding-start: 0.75rem !important;
    }

    &::placeholder {
        color: #888;
    }

    @extend %base-disabled;
}

%base-boxes {
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

@if $with-input {
    input.base {
        @extend %base-input;

        // this integration is experimental until attr compatibility is solved https://developer.mozilla.org/en-US/docs/Web/CSS/attr

        @if $with-icon-input {
            &.icon {
                padding-left: 2.35rem;
                background: var(--icon) no-repeat center left 0.75rem/1.1em #fff;
            }
        }
    }
}

@if $with-select {
    select {
        @extend %base-input;

        padding-right: 2.35rem;
        background: url('/svg/sort.svg') no-repeat center right 0.75rem/1em #fff;
    }
}

@if $with-textarea {
    textarea {
        @extend %base-input;
    }
}

@if $with-label {
    label {
        color: #666;
    }
}

@if $with-radio {
    input[type=radio] {
        @extend %base-boxes;
        @extend %base-disabled;
    }
}

@if $with-checkbox {
    input[type=checkbox] {
        @extend %base-boxes;
        @extend %base-disabled;
    }
}