:root {
    --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    font: 16px var(--font-family);
    background: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


:focus-visible {
    outline-color: rgba(50, 151, 211, .5);
}

.grid-05 {
    display: grid;
    gap: .5rem;
}

.grid {
    display: grid;
    gap: 1rem;
}

.container {
    padding-block: 2rem;
    margin-inline: auto;
    width: min(100% - 2rem, 400px);
}

@import "./input";